.header {
  display: flex;
  justify-content: flex-start;
  background: rgb(0, 0, 0);
  align-items: center;
  width: 100%;
  height: 5vw;
}
.logo {
  background-image: url('./logo.png');
  background-size: cover;
  margin-left: 11.41vw;
  width: 8.02vw;
  height: 2.19vw;
}
.line {
  color: #FFFFFF;
  margin-top: -0.6vw;
  margin-left: 1.14vw;
  margin-right: 1.04vw;
  font-size: 3.54vw;
}
.text {
  font-family: 'Tactic Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0.83vw;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  flex: none;
  order: 3;
  flex-grow: 0;
}