@font-face {
  font-family: 'Tactic Sans';
  src: url('./Tactic.ttf');
}
@font-face {
  font-family: 'Tactic Bold';
  src: url('./TacticBold.ttf');
}
@font-face {
  font-family: 'Roboto Flex';
  src: url('./RobotoFlex.ttf');
}
* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}